{% extends 'movies/base.html' %}

{% block movie_content %}
<h5>Movie Details</h5>
<hr />
<table class="mdl-data-table mdl-js-data-table">
    <tbody>
        <tr>
            <td class="mdl-data-table__cell--non-numeric">Name</td>
            <td>{{object.name}}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Genre</td>
            <td>{{object.genre}}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Rating</td>
            <td>{{object.rating}}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Release Date</td>
            <td>{{object.release_date}}</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Average Ratings</td>
            <td>
              <b>{{object.average_rating|floatformat:2}}</b>
            </td>
          </tr>
    </tbody>
</table>

{% endblock %}