.mdl-button {
    padding: 8px auto;
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 2px;
}
.mdl-data-table td {
    padding: 12px 6px;
    text-align: center;
}