<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  {% include 'includes/head-auth.html' %}
  {% block extrastyle %}{% endblock extrastyle %}
</head>
<body>

  {% block content %}{% endblock content %}



    <!-- Required Js -->
    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'assets/js/dark-mode.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}

</body>
</html>
